
.navbar-custom {
    background-color: rgba(140, 139, 139, 0.3);
    align-items: center;
    
}

.navbar-brand-custom {
    align-items: center;
    display: flex;
}


.my-center {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:5vh;
}

.my-center3 {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    }

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    color: rgba(255, 255, 255, 0.8);
}

.content {
    position: absolute;
    left: 40%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title{
    font-size: 80px;
    color: #28cc70;
    left: 40%;
}